/* COLORES */

:root {
    --vanilla-cream: #f0ead2;
    --tea-green: #dde5b6;
    --muted-olive: #adc178;
    --faded-copper: #a98467;
    --ash-brown: #6c584c;
}


/* CONFIGURACIÓN GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--vanilla-cream);
    color: var(--ash-brown);
    line-height: 1.6;
}


/* HERO */

.hero {
    background-color: var(--tea-green);
}

.hero-image {
    width: 100%;
    max-width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(108, 88, 76, 0.25);
}


/* TEXTOS */

.subtitle {
    color: var(--faded-copper);
    letter-spacing: 2px;
}

/* SOBRE EL BLOG */

.about {
    background-color: var(--vanilla-cream);
}

/* TEMAS */

.topics {
    background-color: var(--tea-green);
}


/* TARJETAS */

.card {
    background-color: var(--vanilla-cream);
    border: 2px solid var(--muted-olive);
    border-radius: 20px;
    color: var(--ash-brown);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);

    box-shadow:
        0 10px 20px rgba(108, 88, 76, 0.15);
}

.card-icon {
    font-size: 45px;
    margin-bottom: 15px;
}


/* CTA */

.call-to-action {
    background-color: var(--muted-olive);
    color: var(--ash-brown);
}


/* FOOTER */

.footer {
    background-color: var(--ash-brown);
    color: var(--vanilla-cream);
    text-align: center;
    padding: 35px 8%;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer p {
    margin: 5px 0;
}

.btn-huellitas {
    background-color: var(--ash-brown);
    color: #ffffff;
    border: 1px solid var(--ash-brown);
}

.btn-huellitas:hover {
    background-color: var(--faded-copper);
    border-color: var(--faded-copper);
    color: #ffffff;
}
/* ========================================= */
/* NOTICIAS */
/* ========================================= */

.news-section {
    padding: 30px 10px;
}

.news-section h2 {
    color: var(--ash-brown);
}


/* TARJETAS DE NOTICIAS */

.news-section {
    padding: 30px 5px;
}

.news-card {
    width: 95%;
    max-width: 180px;

    background-color: var(--vanilla-cream);
    border: 1px solid var(--muted-olive);
    border-radius: 15px;
    color: var(--ash-brown);

    transition: 0.3s;
}

.news-card:hover {
    transform: translateY(-3px);

    box-shadow: 0 6px 15px rgba(108, 88, 76, 0.15);
}

.news-card .card-body {
    padding: 12px;
}

.news-card h3 {
    color: var(--ash-brown);
}

.news-card p {
    margin-bottom: 10px;
}